<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>ini halaman utama</h1>
    <h1>login</h1>
    <form class="" action="/login" method="post">
      <input type="text" name="username" value="">
      <input type="password" name="password" value="">
      <input type="submit" name=""  value="login">
    </form>

<a href="/register">daftar</a>
    </form>
  </body>
</html>
