<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <form class="" action="/register" method="post">
    <input type="text" name="username" value="" placeholder="username"> <br>
    <input type="text" name="email" value="" placeholder="email"> <br>
    <input type="password" name="password" value="" placeholder="password"><br>
    <input type="submit" name="" value="Register">
  </form>


</body>

</html>
